.container-logout{
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px 20px 0 0;
}

.button-logout{
    background-color: transparent;
    border: none;
    font-size: 1.5em;
    color: #737373;
    cursor: pointer;
    transition: color .5s, transform .5s;
}

.button-logout:hover{
    color: #807f7f;
    transform: scale(1.1, 1.1);
}

h1{
    margin-top: 40px;
    text-align: center;
    font-weight: 700;
    font-size: 30pt;
    /*opacity: 0;*/
    /*transform: translateY(-50px);*/
    /*transition: opacity .5s, transform 1s;*/
}

.activity-entry-container{
    margin: 40px 0;
}

.activity-entry-content{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: 50px;
    max-width: 100%;
    /*opacity: 0;
    transform: translateY(-50px);
    transition: 1s opacity .5s, 1s transform .5s;*/
}

.activity-entry{
    display: block;
    padding: 15px;
    height: 100%;
    width: 65%;
    border: 2px solid var(--color-fg2);
    border-radius: 3px;
    font-size: 11pt;
    font-weight: 700;
    color: var(--color-fg);
}

.activity-entry:hover{
    outline: 1px solid var(--color-fg2);
}

.activity-entry::placeholder{
    font-size: 11pt;
    font-weight: 500;
}

.activity-entry:focus{
    outline: 1px solid var(--color-fg2);
}


.btn-add-activity{
    
    /*top: 50%;
    right: 20%;
    transform: translateY(-50%);
    background-color: transparent;*/
    display: block;
    width: 50px;
    height: 50px;
    border-style: none;
    border-radius: 0 5px 5px 0;
    text-align: center;
    font-size: 12pt;
    font-weight: 700;
    background-color: var(--color-fg);
    color: #fff;
    font-size: 15pt;
    font-weight: 700;
    cursor: pointer;
    transition: transform .2s;
}

.error-msg{
    display: none;
    text-align: center;
    margin-top: 8px;
    width: 69%;
    margin: 5px auto;
    background-color: rgb(192, 192, 192);
    padding: 5px;
    /*width: 80%;*/
    font-size: 11pt;
    font-weight: 700;
}

.btn-add-activity:hover{
    transform: scale(1.05);
}

/* PANEL DE EDICION */

.edit-info-panel{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
    z-index: 100;
}

.edit-info-container{
    position: relative;
    background-color: rgb(218, 218, 218);
    border-radius: 15px;
    height: 90px;
    width: 80%;
}

.edit-info-input{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    padding: 15px;
    margin: 0 auto;
    height: 40%;
    width: 85%;
    border: 2px solid var(--color-fg2);
    border-radius: 3px;
    font-size: 11pt;
    font-weight: 700;
    color: var(--color-fg);
}

.close-edit-panel{
    position: absolute;
    display: inline-block;
    top: -8px;
    right: -8px;
    border: none;
    background-color: transparent;
    color: var(--color-fg);
    font-size: 18pt;
    cursor: pointer;
    transition: color .2s, transform .2s;
}

.close-edit-panel:hover{
    color: rgb(44, 44, 44);
    transform-origin: center;
    transform: scale(1.4);
}

.close-edit-panel::after{
    z-index: -1;
    position: absolute;
    content: '';
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: rgb(218, 218, 218);
    right: 3px;
    top: 5px;
}

.edit-info-check{
    position: absolute;
    display: inline-block;
    top: 34%;
    right: 9%;
    border: none;
    background-color: transparent;
    color: rgb(218, 218, 218);
    font-size: 18pt;
    cursor: pointer;
    transition: color .2s, transform .2s;
    z-index: 110;
    
}

.edit-info-check::before{
    z-index: -1;
    position: absolute;
    content: '';
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: var(--color-fg);
    right: 3px;
    top: 5px;
}

.edit-info-check:hover{
    color: rgb(184, 184, 184);
    transform-origin: center;
    transform: scale(1.12);
}

.error-edit-msg{
    display: none;
    margin: 0 auto;
    margin-top: 8px;
    padding: 5px;
    width: 70%;
    background-color: rgb(255, 128, 128);
    font-size: 11pt;
    font-weight: 700;
}

.showError{
    display: flex;
}